.banner {
  display: flex;
  justify-content: space-around;
  background-color: rgb(244, 245, 249);
  padding: 100px 0;
  font-style: italic;
}
.banner_title {
  width: 20rem;
  h4 {
    opacity: 0.7;
    font-weight: 400;
  }
  h1 {
    font-weight: 500;
    margin: 10px 0;
  }
  button {
    width: 200px;
    height: 35px;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    cursor: pointer;
    font-size: larger;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.banner_logo {
  width: 250px;
}
