.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  font-style: italic;
  h2 {
    font-weight: 400;
  }
  ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    li {
      margin-left: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.navbar-left {
  li:first-child {
    a {
      color: #e8c375;
    }
  }
}
